/* post or photo size should be fixed */
/* photo ma tag location */

.feed{
  display: grid;
  grid-template-rows: 100px 1fr;
}


.story{
  display: grid;
  grid-template-columns: 70px 70px 70px;
  align-items: center;
  gap: 7px;
  padding-left: 22px;
}

.story_photo{ 
  padding-left: 5px;
  cursor: pointer;
}

.story_photo_circle{
  height: 62px;
  width: 62px;
  border: solid;
  border-radius: 30px;
  padding: 2px;
  border-width: 2px;
  border-color: rgb(196, 17, 71) ;
  object-fit: cover;
}

.story_user{
  text-align: center;
  cursor: pointer;
}

.story_name{
  padding-top: 2px;
  font-size: 12px;
  color: rgba(10, 1, 1, 0.89);
}

.post_section{
  display: grid;
  grid-template-rows: 865px;
  gap: 10px;
  padding-left: 100px;
  padding-right: 55px;
  padding-top: 10px;
}

.post{
  padding: 2px;
  display: grid;
  grid-template-rows: 50px 585px 40px 185px;
  border-bottom: solid;
  border-color: rgb(204, 198, 198);
  border-width: 1px;
}

.post_title{
  display: grid;
  grid-template-columns: 45px 1fr 30px;
  align-items: center;
}

.post_photo_circle{
  height: 38px;
  width: 38px;
  border: solid;
  border-radius: 30px;
  padding: 2px;
  border-width: 2px;
  border-color: rgb(196, 17, 71) ;
  cursor: pointer;
  object-fit: cover;
}


.post_header{
  display: flex;
  gap: 3px;
}

.post_user_name{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.post_time{
  font-size: 13px;
  color: rgb(0, 0, 0, 0.66);
  cursor: pointer;
}

.post_photo_image{
  height: 580px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.post_attributes{
  display: grid;
  grid-template-columns: 40px 40px 1fr 30px;
  align-items: center;
}

.post_contents{
  padding: 2px;
  display: grid;
  grid-template-rows: 23px 45px 76px 25px;
}

.likes{
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 3px;
  align-items: center;
  padding-bottom: 7px;
}

.comment_photo_circle{
  height: 17px;
  width: 17px;
  border-radius: 30px;
  cursor: pointer;
  object-fit: cover;
}

.like_count{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.post_contents .post_user_name,
.caption_text{
  display: inline;
} 

.caption_text{
  font-size: 14px;
}

.caption_translate{
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 8px;
  cursor: pointer;
}

.comments{
  display: grid;
  grid-template-rows: 30px 23px 23px;
}

.comment_division{
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 5px;
}

.main_comment{
  flex: 1;
}

.add_comment_division{
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.comments_view_all,
.add_comment{
  padding-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

